{#content}

<h1>Formulář dokladu</h1>

<input type="hidden" id="getProducts" value="{link Store:getProductsByIdStore id => $idStore}" />

{control storeForm}

{/#}

{#actionMenu}

<li><a href="{link Store:}" class="ajax">Zpět na výpis dokladů</a></li>

{/#}