{#content}
	
	<h1>Správa kontaktů</h1>
	
	{control contactGrid}
	
{/#}

{#actionMenu}

<li><a href="{link Contacts:addContact}" class="ajax">Přidat kontakt</a></li>
<li><a href="">Provést import kontaktů</a></li>

{/#}