{#content}

<h1>Odeslat email s fakturou</h1>

{control emailForm}

Příloha: <a href="{link Invoices:printInvoice idInvoice=>$idInvoice}" class="new-page">PDF faktura</a>

<script>
$(function(){
	
	tinyMCE.init({
	    mode : "textareas"
	});
	
});
</script>

{/#}

{#actionMenu}

<a href="{link Invoices:}" class="ajax btn btn-primary">Zpět na výpis faktur</a>

{/#}

