@font-face {  
  font-family: Days;  
  src: url( ../fonts/Days.otf) format("opentype");  
}  

body{
	font-family: Days, verdana, helvetica, sans-serif;  
	margin: 0px;	
}

header.main {
	position: fixed;
	border: 1px solid #e2e2e2;
	background-color: rgba(255, 255, 255, 0.8);
	display: block;
	height: 50px;
	width: 100%;
	top: 0px;
	z-index: 2;
}

header.main .settings-button {
	z-index: 100;
	position: fixed;
	display: block;
	width: 100px;
	height: 52px;
	right: 0px;
	top: 0px;
	cursor: pointer;
	background: url("../images/options2.png");
}

header.main .logout {
	position: fixed;
	top: 17px;
	right: 137px;
}

header.main .users {
	position: fixed;
	top: 5px;
	right: 250px;
}

.settings h1 {
	position: fixed;
	top: 44px;
	right: 5px; 
	color: black;
	font-size: 10px;
	-webkit-transition: font-size 1s;
}

.settings .bigger {
	font-size: 20px;
}

.settings {
	background-color: #e2e2e2;
	z-index: 2;
	width:350px;
	height: 10px;
	position: fixed;
	border: 1px solid #e2e2e2;
	top: 0px;
	right: 0px;
	padding: 20px;
	moz-transition: top 1s, height 2s, background-color 2s, color 2s;
	transition: top 1s, height 2s, background-color 2s, color 2s;
	-webkit-transition: width 1s, top 1s, height 2s, background-color 2s, color 2s;
}

.settings .maximize {
	background: url("../images/maximize.gif");
	cursor: pointer;
	display: block;
	float: left;
	width: 15px;
	height: 15px;
}

.maximized {
	width: 80%;
}

.settings .close {
	cursor: pointer;
}

.down {
	height: 100%;
	top: 50px;
	background-color: #f1f2f1;
}

footer{
	width: 100%;
	height: 0px;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0px;
	text-align: left;
	bottom: 0px;
	right: 0px;
	padding-right: 10px;
	line-height: 10px;
	font-size: 10px;
	z-index: 2;
	-webkit-transition: all 1s;  /* Saf3.2+, Chrome */
	-moz-transition: all 1s;  /* FF4+ */
	-ms-transition: all 1s;  /* IE10 */
	-o-transition: all 1s;  /* Opera 10.5+ */
	transition: all 1s;
	display: block;
	background-image: url('../images/loader.gif');
	text-shadow: 1px 1px 2px rgba(89,22,20,0.3);
	z-index: 10;
	text-align: center;
}

footer span{
    text-align: center;
    
}

/* Loader */
#loader {
	
}

#loader.active {
	height: 40px;
}

footer a{
	color: #5393b5;
}

.hide {
	
	bottom: -30px;
}

.leftMenu{
	position: fixed;
	width: 100%;
	top: 0px;
}


.leftMenu a.menu-item{
	display: inline-block;
	font-size: 0px;
	min-width: 40px;
	overflow: hidden;
	float: left;
	height: 32px;
	line-height: 32px;
	padding: 5px;
	padding-bottom: 1px;
	text-align: left;
	padding-left: 5px;
	transition: all 1s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}

.leftMenu a.menu-item:hover, .leftMenu a.menu-item.selected {
	background: none;
	background-position: -40px 50%;
	font-size: 14px;
	text-align: center;
	transition: all 1s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}

.leftMenu a.menu-item.btnStats {
    background: url('../images/stats.png') 50% 50%;
    background-repeat: no-repeat;
    
}

.leftMenu a.menu-item.btnStats:hover,  .leftMenu a.menu-item.btnStats.selected{
    background-position: -40px 50%;
}

.leftMenu a.menu-item.btnContacts {
    background: url('../images/contacts.png') 50% 50%;
    background-repeat: no-repeat;
}

.leftMenu a.menu-item.btnContacts:hover,  .leftMenu a.menu-item.btnContacts.selected{
    background-position: -40px 50%;
}

.leftMenu a.menu-item.btnProducts {
    background: url('../images/products.png') 50% 50%;
    background-repeat: no-repeat;
}

.leftMenu a.menu-item.btnProducts:hover,  .leftMenu a.menu-item.btnProducts.selected{
    background-position: -40px 50%;
}

.leftMenu a.menu-item.btnRows {
    background: url('../images/series.png') 50% 50%;
    background-repeat: no-repeat;
}

.leftMenu a.menu-item.btnRows:hover,  .leftMenu a.menu-item.btnRows.selected{
    background-position: -40px 50%;
}

.leftMenu a.menu-item.btnInvoices {
    background: url('../images/invoices.png') 50% 50%;
    background-repeat: no-repeat;
}

.leftMenu a.menu-item.btnInvoices:hover,  .leftMenu a.menu-item.btnInvoices.selected{
    background-position: -40px 50%;
}

.leftMenu a.menu-item.btnStores {
    background: url('../images/stores.png') 50% 50%;
    background-repeat: no-repeat;
}

.leftMenu a.menu-item.btnStores:hover,  .leftMenu a.menu-item.btnStores.selected{
    background-position: -40px 50%;
}

.leftMenu .messenger{
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	width: 202px;
	z-index: 1;
	left: 0px;
	-webkit-transition: left 1s, background-color 1s;
	-moz-transition: left 1s, background-color 1s;
}

.leftMenu .messenger.selected, .leftMenu .messenger:hover{
	background-color: #5393b5;
}

.leftMenu .messenger .title{
	width: 202px;
}

.leftMenu .messenger ul{
	position: fixed;
	bottom: -120px;
	left: 1px;
	-webkit-transition: bottom 1s;
}

.leftMenu .messenger.selected ul{
	bottom: 20px;
}

.leftMenu .messenger ul li{
	height: 35px;
	z-index: 1;
}

.leftMenu hr {
	border: 1px solid #E2E2E2;
}

#separator {
	float: left;
	width: 10px;
	height: 10px;
	display: block;
	margin-right: 5px;
}

a {
	color: black;
}

.content {
	position: relative;
	top: 50px;
	padding-bottom: 20px;
	z-index: 1;
	width: 100%;
}

.content table.grid tbody tr td{
	-webkit-transition: background-color 1s, color 1s;
}

.content table.grid tbody tr:hover td{
	background-color: #000;
	color: white;
}

.productRow {
	cursor: pointer;
	margin-top: 5px;
}

table.formProducts {
	display: none;
}

table.formProducts.editing {
	display: table;
}

.search input {
	width: 30px;
}

/* Upozorneni */

.flash{
	border: 1px solid #e2e2e2;
	width: 100%;
	padding: 10px;
}

.ok {
	background-color: #42e73a;
}

.error {
	background-color: #ff4540;
}

/* Formulare, validace */

.form-error-message{
	background-color: #ff7373;
	border: 1px solid #e2e2e2;
	padding: 2px;
}

/*

cast z bootstrap 

==========================================================================
*/
form {
  margin: 0 0 10px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}

input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
   width: 500px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

input[type="checkbox"],
input[type="radio"]{
	width: auto;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"]
 {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
{
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}


.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"], {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-prepend input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}

/*
tlacitka z boostrap
*/

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 2px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini {
  padding: 1px 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

/*
tabulka z bootstrap
*/
.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success td {
  background-color: #dff0d8;
}

.table tbody tr.error td {
  background-color: #f2dede;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
  background-color: #c4e3f3;
}

a.btn {
	text-decoration: none;
}

table.datagrid th.controll {
	width: 120px;
}

table tr th {
	text-align: right;
	vertical-align: top;
}

section.home article {
	text-align: center;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #888;
	display: block;
	float: left;
	width: 200px;
	height: 150px;
	border: 1px solid black;
	margin: 5px;
}

section.home article header h1 {
	font-size: 16px;
}

section.home article header h2 {
	font-size: 14px;
	color: grey;
}


@media screen and (min-width: 320px) and (max-width: 1024px){
    
    
    /* Sizing */
    body{
	font-size: 1.6em;
    }
    
    .content{
	top: 180px;
    }
    
     /* Hidden elements */
    .users, .logout{
	display: none;
    }
    
    header.main{
	height: 180px;
    }
    
    .leftMenu{
	height: 180px;
    }
    
    /* Main menu and action menu */
    .leftMenu a.menu-item {
	height: 130px;
	width: 130px;
	background-size: 130px 130px;
    }
    
    .leftMenu a.menu-item:hover, .leftMenu a.menu-item.selected{
	font-size: 0em;
	background-size: 139px 139px;
    }
    
    .leftMenu a.menu-item.btnStats:hover,  .leftMenu a.menu-item.btnStats.selected{
	background-position: 50% 50%;
    }
    
    .leftMenu a.menu-item.btnContacts:hover,  .leftMenu a.menu-item.btnContacts.selected{
	background-position: 50% 50%;
    }
    
    .leftMenu a.menu-item.btnProducts:hover,  .leftMenu a.menu-item.btnProducts.selected{
	background-position: 50% 50%;
    }
    
    .leftMenu a.menu-item.btnRows:hover,  .leftMenu a.menu-item.btnRows.selected{
	background-position: 50% 50%;
    }
    
    .leftMenu a.menu-item.btnInvoices:hover,  .leftMenu a.menu-item.btnInvoices.selected{
	background-position: 50% 50%;
    }
    
    .leftMenu a.menu-item.btnStores:hover,  .leftMenu a.menu-item.btnStores.selected{
	background-position: 50% 50%;
    }
    
    .settings-button{
	height: 90px;
	width: 90px;
	background-size: 80px 80px;
    }
    
    /* Forms */
    input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], select {
	-webkit-appearance: none; -moz-appearance: none;
	display: block;
	margin: 0;
	width: 100%; height: 90px;
	line-height: 90px; font-size: 1.6em;
      }
      
    .btn-success, .btn-danger{
	font-size: 2em;
	width: 100%;
	height: 3em;
    }
    
    form table tr th{
	display: none;
    }
    
    table, table td, input{
	width: 100%;
    }
}